:root {
    --topbar-height: 84px;
    --a-color: #000;
    --heading-font: 900;
    --pink-f: rgb(255, 0, 170);
    --img-box-shadow: #fe346e;
    --btn-bg: #fe346e;
    --btn-color: #fff;
    --border-radius: #fe346e;
    --icon-color: #fe346e;
    --form-input-bg: #242424;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box !important;
    font-family: sans-serif;
}

a {
    color: var(--a-color);
}

.my-toolbar {
    height: var(--topbar-height);
}

a,
a,
.btn:hover {
    text-decoration: none;
    color: #fff;
}


/*################################ Top Header + Heading Section Styling Starts Here ###################################  */

.bg {
    background-image: url('images/digital.jpg');
    background-size: cover;
    height: 100vh;
}

.heading-top-font {
    font-weight: var(--heading-font);
    font-size: 54px;
}

.div-1 {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.div-1 svg {
    color: #fe346e;
    fill: currentColor;
}

.div-1:hover {
    background-color: rgba(26, 25, 25, 0.685);
    color: #fff;
}

.nav-link {
    text-transform: uppercase;
    font-size: 13px;
    color: #fff;
}

.nav-link {
    font-size: 11px;
    font-weight: 800;
}

.navbar-collapse,
.navbar-toggler,
.navbar-toggler:focus {
    background-color: var(--btn-bg);
    box-shadow: 0px 0px 0px #fff;
}

.nav-item:hover {
    background-color: var(--btn-bg);
    border-top-left-radius: 60px;
    border-bottom-right-radius: 60px;
    transition: ease-in 0.2s;
}

.heading-btn {
    font-size: 12px !important;
}

.w-20 {
    width: 240px;
}

.char-svg {
    width: 60px;
    color: #fe346e !important;
    fill: currentColor !important;
}

.heading-font {
    font-weight: var(--heading-font);
}

.p-font {
    font-size: 14px;
    opacity: 0.8;
}


/*################################ Top Header + Heading Section Styling Ends Here ###################################  */


/*################################ Abour Us Styling Starts Here ###################################  */

.img-height-box {
    height: 70vmin;
    box-shadow: -50px -50px 0px 0px var(--img-box-shadow);
}

.heading-font-spacing {
    word-spacing: -5px;
    line-height: 1.2em;
}

.btn {
    text-transform: uppercase;
    font-size: 9px;
    letter-spacing: 3px;
    padding: 1.4em 3em 1.2em 3em;
    border-radius: 40px;
    background-color: var(--btn-bg);
    color: var(--btn-color);
}

.img-height-box2 {
    height: 70vmin;
    box-shadow: 50px -50px 0px 0px var(--img-box-shadow);
}


/*################################ Abour Us Styling Ends Here ###################################  */

.paragrapgh-font {
    font-size: 10px;
}

.div-img2 {
    width: 100%;
}


/* Image zoom on hover + Overlay colour */

.main-bg {
    overflow: hidden;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.hover-img {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.bg-text {
    display: none;
    font-size: 35px;
    color: #ffffff !important;
    font-family: sans-serif;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 50px;
    cursor: pointer;
    text-decoration: none;
}

.main-bg:hover .hover-img,
.main-bg:focus .hover-img {
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.main-bg:hover .hover-img:before,
.main-bg:focus .hover-img:before {
    display: block;
}

.main-bg:hover a,
.main-bg:focus a {
    display: block;
    background-color: rgba(52, 73, 94, 0.75) !important;
}

.no-flex-gap {
    padding: 0px !important;
    margin: 0px !important;
}


/*################################ Our Project Section Styling Ends Here ###################################  */

.count-div {
    border-radius: 50%;
    border: 23px solid var(--border-radius);
    width: 230px;
}

.count-font {
    font-size: 70px;
}

.contact-bg {
    background-color: #1a1a1a;
}

.contact-heading {
    font-weight: 800;
}


/*################################ Footer Styling Starts Here ###################################  */

.footer-about {
    font-size: 14px;
}

.footer-p {
    font-size: 14px;
    opacity: 0.7;
}

.footer-icon {
    border: 1px solid #fff;
    border-radius: 45px;
    width: 55px;
    height: 55px;
    cursor: pointer;
    background-color: #000;
}

.footer-icon:hover {
    border: 1px solid var(--border-radius);
    background-color: var(--border-radius);
}

.footer-icon i {
    font-size: 17px;
    padding: 1em 1.2em;
}

.footer-icon .fa-google,
.footer-icon .fa-twitter {
    padding: 1em 1em;
}

.form-control,
.form-control::placeholder,
.form-control:focus {
    color: #fff;
    background-color: var(--form-input-bg);
    border: none;
    opacity: 0.8;
}

.p-font-color {
    color: var(--pink-f);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 800;
}


/*################################ Footer Styling Ends Here ###################################  */


/* ########################## Media Queries for Contact Section to take 100% width on low width screen i-e below 767px */

@media screen and (max-width:767px) {
    .div-767 {
        width: 100%;
    }
}


/* ########################## Media Queries for Navbar background color on low width screen i-e below 992px */

@media screen and (min-width:992px) {
    .navbar-collapse {
        background-color: transparent;
    }
}

.img-fluid {
    height: auto;
}

@media screen and (max-width:767px) {
    .img-fluid {
        height: auto;
    }
}